	{% extends 'layout.html' %}

	{% block body %}	
	<div class="container">
		<div class="row">
			<div class="jumbotron text-left">	
				<h2><strong>About</strong></h3>
				<p class="lead"><a>Lorem ipsum dolor sit amet, est partem admodum ut, vis veritus signiferumque eu. Pro cu tation repudiare, duo ne veritus pericula qualisque. Quando nostro vidisse et his, ea simul quaestio pri, te eam nulla apeirian inimicus. Nec in mundi elaboraret, ius prima zril id. An eos solum suscipit consequat.Salutandi iracundia id nec, cum ad quando mollis accusamus. Eos possit apeirian in, cu suas probatus eam. Duo at eros recusabo suavitate, usu veri habemus interpretaris no. Elit novum consequat vel eu. Feugait repudiandae sit eu, te nec eligendi atomorum dignissim.</a></p>
			</div>
		</div>
	</div>
	{% endblock %}